<div class="swiper-wrapper">
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Важная информация</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Национальные проекты России</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                    <div class="swiper-slide banner__body">
                      <p class="banner__title">Социологический опрос</p>
                    </div>
                  </div>