<div class = "swiper-wrapper">
                  <div class="swiper-slide banner__group">
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Важная информация
                      </p>
                    </a>
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Национальные проекты России
                      </p>
                    </a>
                  </div>
                  <div class="swiper-slide banner__group">
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
                  </div>
                  <div class="swiper-slide banner__group">
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
                  </div>
                  <div class="swiper-slide banner__group">
<a class="banner__body" href="#">
                      <p class = "banner__title">
                        Социологический опрос
                      </p>
                    </a>
                  </div>
                </div>
