<nav class="breadcrumbs" aria-label="Хлебные крошки">
            <a class="breadcrumbs__item" href="index.html">Главная</a>
            <div class="breadcrumbs__separator"></div>
            <a class="breadcrumbs__item" href="#">Университет</a>
            <div class="breadcrumbs__separator"></div>
            <a class="breadcrumbs__item" href="index.html">Органы управления</a>
            <div class="breadcrumbs__separator"></div>
            <span>Детальная страница</span>
          </nav>