<details class="campus-filter campus-filter--object" data-campus-filter="category">
                <summary><span data-campus-filter-label>выбрать объект</span><span class="campus-filter__icon" aria-hidden="true"></span></summary>
                <div class="campus-filter__panel">
                  <button type="button" data-filter-value="admissions"><img src="../images/svg/campus-admissions.svg" alt="" />Приемная комиссия</button>
                  <button type="button" data-filter-value="administration"><img src="../images/svg/campus-administration.svg" alt="" />Администрация</button>
                  <button type="button" data-filter-value="food"><img src="../images/svg/campus-food.svg" alt="" />Объекты питания</button>
                  <button type="button" data-filter-value="education"><img src="../images/svg/campus-school.svg" alt="" />Учебные корпуса</button>
                  <button type="button" data-filter-value="dormitory"><img src="../images/svg/campus-dormitory.svg" alt="" />Общежития</button>
                  <button type="button" data-filter-value="sport"><img src="../images/svg/campus-sport.svg" alt="" />Спорт</button>
                  <button type="button" data-filter-value="driving"><img src="../images/svg/campus-driving.svg" alt="" />Автодром</button>
                  <button type="button" data-filter-value="laboratory"><img src="../images/svg/campus-lab.svg" alt="" />Лаборатории</button>
                  <button type="button" data-filter-value="military"><img src="../images/svg/campus-military.svg" alt="" />Военный учебный центр</button>
                  <button type="button" data-filter-value="library"><img src="../images/svg/campus-library.svg" alt="" />Библиотека</button>
                </div>
              </details>