<div class="catalog-filter-group">
                  <div class="catalog-filter-group__title">
                    форма обучения
                  </div>
                  <div class="catalog-filter-group__options">
                    <label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="study_form[]"
                        value="full_time"
                        checked
                      />Очная</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="study_form[]"
                        value="extramural"
                      />Заочная</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="study_form[]"
                        value="part_time"
                      />Очно-заочная</label
                    >
                  </div>
                </div>