<div class="catalog-search">
                  <p>найти направление</p>
                  <input
                    class="catalog-search__input"
                    name="query"
                    type="search"
                    aria-label="Найти направление"
                  /><button
                    class="catalog-search__button"
                    type="submit"
                    aria-label="Найти"
                  >
                    <img src="../images/svg/vacancy-search.svg" alt="" />
                  </button>
                </div>