<div class="catalog-filter-group">
                  <div class="catalog-filter-group__title">
                    вступительные испытания
                  </div>
                  <div class="catalog-filter-group__options">
                    <label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="russian"
                        checked
                      />Русский язык</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="mathematics"
                        checked
                      />Математика</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="physics"
                      />Физика</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="social_studies"
                      />Обществознание</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="history"
                        checked
                      />История</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="informatics"
                      />Информатика</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="foreign_language"
                      />Иностранный язык</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="chemistry"
                      />Химия</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="geography"
                      />География</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="entrance_exam[]"
                        value="creative"
                      />Творческое испытание</label
                    >
                  </div>
                </div>