<div class="catalog-filter-group">
                  <div class="catalog-filter-group__title">
                    уровень образования
                  </div>
                  <div class="catalog-filter-group__options">
                    <label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="education_level[]"
                        value="bachelor"
                      />Бакалавриат</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="education_level[]"
                        value="specialist"
                      />Специалитет</label
                    ><label class="catalog-filter-option"
                      ><input
                        type="checkbox"
                        name="education_level[]"
                        value="master"
                        checked
                      />Магистратура</label
                    >
                  </div>
                </div>