<div class="catalog-filter-group">
              <p class="catalog-filter-group__title">опыт работы</p>
              <div class="catalog-filter-group__options">
                <label class="catalog-filter-option"
                  ><input type="radio" name="experience" value="none" />без
                  опыта</label
                >
                <label class="catalog-filter-option"
                  ><input
                    type="radio"
                    name="experience"
                    value="1-plus"
                    checked=""
                  />от 1 года</label
                >
                <label class="catalog-filter-option"
                  ><input type="radio" name="experience" value="3-6" />от 3 до 6
                  лет</label
                >
                <label class="catalog-filter-option"
                  ><input type="radio" name="experience" value="6-plus" />более
                  6 лет</label
                >
              </div>
            </div>