<form class="catalog-search" method="get" role="search">
                  <input
                    class="catalog-search__input"
                    name="query"
                    type="search"
                    placeholder="найти направление"
                    aria-label="Найти направление"
                  /><button
                    class="catalog-search__button"
                    type="submit"
                    aria-label="Найти"
                  >
                    <img src="../images/svg/vacancy-search.svg" alt="" />
                  </button>
                </form>
