<div class="cookie-banner">
      <div class="cookie-body">
        <div class="cookie-text">Продолжая работу с сайтом, вы даете согласие на использование <a href="#">файлов cookie</a></div>
        <button type="button" id="cookieAccept" class="cookie-btn btn btn--default">Принять</button>
      </div>
    </div>