<div class = "default-slider-controls">
                  <button type="button" class = "swiper-button-prev" aria-label="Предыдущий слайд"></button>
                  <div class = "swiper-pagination"></div>
                  <button type="button" class = "swiper-button-next" aria-label="Следующий слайд"></button>
                </div>