<ul class="document-list">
                <li>
                  <a class="document-list__link" href="#"
                    ><span class="document-list__name"
                      ><img
                        class="document-list__file-icon"
                        src="../images/svg/document.svg"
                        alt=""
                      />Документ 1</span
                    ><img
                      class="document-list__download-icon"
                      src="../images/svg/download.svg"
                      alt=""
                  /></a>
                </li>
                <li>
                  <a class="document-list__link" href="#"
                    ><span class="document-list__name"
                      ><img
                        class="document-list__file-icon"
                        src="../images/svg/document.svg"
                        alt=""
                      />Документ 2</span
                    ><img
                      class="document-list__download-icon"
                      src="../images/svg/download.svg"
                      alt=""
                  /></a>
                </li>
                <li>
                  <a class="document-list__link" href="#"
                    ><span class="document-list__name"
                      ><img
                        class="document-list__file-icon"
                        src="../images/svg/document.svg"
                        alt=""
                      />Документ 3</span
                    ><img
                      class="document-list__download-icon"
                      src="../images/svg/download.svg"
                      alt=""
                  /></a>
                </li>
              </ul>