<div class="dropdown--content sotrudnik__content wyswig">
                    <b>Ректор университета:</b>
                    <br /><br />
                    <ul>
                      <li>
                        Осуществляет текущее руководство деятельностью
                        Университета, за исключением вопросов, отнесенных
                        федеральными законами или уставом к компетенции
                        Учредителя, наблюдательного совета и иных органов
                        управления Университетом.
                      </li>
                      <li>
                        Действует от имени Университета без доверенности,
                        представляет Университет в отношениях с органами
                        государственной власти, юридическими и физическими
                        лицами.
                      </li>
                      <li>
                        Ежегодно отчитывается перед ученым советом Университета
                        и представляет на его рассмотрение план работы
                        Университета на очередной год.
                      </li>
                      <li>
                        Утверждает план финансово-хозяйственной деятельности
                        Университета.
                      </li>
                      <li>
                        Утверждает структуру Университета, в том числе на
                        основании решений Ученого совета Университета, а также
                        штатное расписание Университета.
                      </li>
                      <li>
                        Принимает решение о создании и ликвидации структурных
                        подразделений Университета, за исключением структурных
                        подразделений Университета, решение о создании и
                        ликвидации которых отнесено к компетенции Ученого совета
                        Университета.
                      </li>
                      <li>
                        Утверждает положения о структурных подразделениях
                        Университета, кроме структурных подразделений
                        Университета, решение о создании и ликвидации которых
                        отнесено к компетенции Ученого совета Университета.
                      </li>
                      <li>
                        Представляет Министерству предложения к государственному
                        заданию по основным видам деятельности, осуществляемым
                        за счет субсидий из федерального бюджета на финансовое
                        обеспечение выполнения государственного задания.
                      </li>
                      <li>
                        Представляет на рассмотрение Ученого совета Университета
                        предложения о создании попечительского совета
                        Университета, его составе и внесении изменений в состав
                        попечительского совета Университета, а также об
                        утверждении регламента работы попечительского совета
                        Университета.
                      </li>
                      <li>
                        Распределяет показатели объема государственных услуг
                        (работ), содержащиеся в государственном задании,
                        утвержденном Университету, между созданными им в
                        установленном порядке обособленными подразделениями (при
                        принятии Университетом соответствующего решения) или
                        вносит изменения в указанные показатели в установленном
                        законодательством Российской Федерации порядке.
                      </li>
                      <li>
                        Определяет трудовые обязанности и ответственность
                        проректоров и других должностных лиц Университета.
                      </li>
                      <li>
                        В соответствии с трудовым законодательством Российской
                        Федерации принимает на работу, увольняет работников
                        Университета, заключает трудовые договоры и осуществляет
                        иные права работодателя в соответствии с
                        законодательством Российской Федерации.
                      </li>
                      <li>
                        Принимает решения о поощрении работников Университета и
                        наложении на них дисциплинарных взысканий в соответствии
                        с трудовым законодательством Российской Федерации.
                      </li>
                      <li>
                        Принимает решения о поощрении обучающихся и о применении
                        к обучающимся и снятии с них мер дисциплинарного
                        взыскания в соответствии с законодательством Российской
                        Федерации.
                      </li>
                      <li>
                        Организует работу структурных подразделений
                        Университета.
                      </li>
                      <li>
                        Совершает любые сделки и иные юридические действия в
                        порядке, предусмотренном законодательством Российской
                        Федерации и уставом.
                      </li>
                      <li>
                        Утверждает годовые планы научных исследований,
                        экспериментальных разработок, экспертных, аналитических,
                        опытно-конструкторских и технологических работ.
                      </li>
                      <li>
                        Распоряжается имуществом и средствами Университета в
                        установленном законодательством Российской Федерации
                        порядке.
                      </li>
                      <li>Выдает доверенности.</li>
                      <li>
                        Открывает счета Университета в территориальном органе
                        Федерального казначейства в порядке, установленном
                        законодательством Российской Федерации.
                      </li>
                      <li>
                        Вносит проект плана финансово-хозяйственной деятельности
                        на рассмотрение наблюдательного совета Университета и
                        утверждает его после рассмотрения заключения
                        наблюдательного совета.
                      </li>
                      <li>
                        Отвечает за реализацию решений органов государственной
                        власти и ученого совета Университета.
                      </li>
                      <li>
                        Утверждает в случаях, предусмотренных законодательством
                        Российской Федерации, образцы документов об образовании
                        и (или) о квалификации.
                      </li>
                      <li>
                        Осуществляет иную деятельность в соответствии с
                        законодательством Российской Федерации, настоящим
                        уставом и локальными нормативными актами Университета.
                      </li>
                    </ul>

                    <p>
                      Ректор Университета имеет право делегировать осуществление
                      отдельных полномочий проректорам и другим работникам
                      Университета.
                    </p>
                    <br />
                    <p>
                      Ректор Университета вправе вынести любой вопрос,
                      отнесенный к его компетенции, на рассмотрение ученого
                      совета Университета и (или) ученых советов институтов,
                      иных образовательных и научно-исследовательских
                      подразделений.
                    </p>
                    <br />
                    <p>
                      По вопросам, относящимся к его полномочиям, ректор
                      Университета издает приказы, распоряжения, а также
                      принимает локальные нормативные акты в порядке,
                      предусмотренном настоящим уставом.
                    </p>
                  </div>