<div class="sotrudnik__contacts d-flex flex-column">
                <div class="sotrudnik__contact-item d-flex flex-column">
                  <p>Адрес</p>
                  <p>
                    150023, Ярославская область, г. Ярославль,
                    Московский просп., д. 88, корпус «Г», 4 этаж
                  </p>
                </div>
                <div class="sotrudnik__contact-item d-flex flex-column">
                  <p>Телефон</p>
                  <a href="tel:+74852441530">+7 (4852) 44-15-30</a>
                </div>
                <div class="sotrudnik__contact-item d-flex flex-column">
                  <p>Почта</p>
                  <a href="mailto:info@ystu.ru">info@ystu.ru</a>
                </div>
              </div>