<div class="sotrudnik__data d-flex flex-column">
                  <div class="sotrudnik__name">
                    <h2 class="title h2">Степанова Елена Олеговна</h2>
                    <p class="sotrudnik__qualification">
                      Ректор, к.э.н., доцент
                    </p>
                  </div>
                  <div class="sotrudnik__post">
                    <p class="sotrudnik__division">Подразделение</p>
                    <p class="sotrudnik__division-position">Ректорат</p>
                  </div>
                </div>