<section class = "error-page">
            <div class = "container error-page__container">
                <h1 class = "title">Страница не найдена</h1>
                <p class = "error-page__description">Возможно, адрес был введен с ошибкой или страница была удалена.<br> Воспользуйтесь меню или перейдите на главную, чтобы найти нужную информацию.</p>
                <a href = "index.html" class = "btn btn--default btn--m">На главную страницу</a>
            </div>
        </section>