<div class="fichers">
              <a href = "programs.html" class="ficher">
                <img class="ficher__icon" src="../images/svg/abt.svg" alt="" />
                <p class="ficher__text">Абитуриентам 2026</p>
              </a>
              <a href = "student-life.html" class="ficher">
                <img
                  class="ficher__icon"
                  src="../images/svg/lifelong-learning.svg" alt=""
                />
                <p class="ficher__text">
                  Возможности<br />
                  для школьников
                </p>
              </a>
              <a href = "student-life.html" class="ficher">
                <img class="ficher__icon" src="../images/svg/stud-life.svg" alt="" />
                <p class="ficher__text">Студенческая жизнь</p>
              </a>
              <a href = "map.html" class="ficher">
                <img class="ficher__icon" src="../images/svg/partners.svg" alt="" />
                <p class="ficher__text">Партнерам</p>
              </a>
            </div>