<div class="flagship-projects__grid card-8">
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Название проекта</p>
                </div>
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Очень очень Очень длиное название проекта</p>
                </div>
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Название проекта</p>
                  <div class = "flagship-project__photo">
                    <img loading="lazy" decoding="async" src = "../images/fallback/prioritet.png" alt="Приоритет 2030. Лидерами становятся">
                  </div>
                </div>
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Название проекта</p>
                </div>
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Название проекта</p>
                </div>
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Очень очень Очень длиное название проекта</p>
                </div>
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Название проекта</p>
                </div>
                <div class="flagship-project__card">
                  <p class = "flagship-project__title">Название проекта</p>
                </div>
            </div>