<footer class="footer">
        <div class = "container">
          <div class = "footer__wrapper">
            <div class = "footer__links">
              <a href="#">Сведения об образовательной организации</a>
              <a href="#">Противодействие коррупции</a>
              <a href="#">Противодействие терроризму и экстремизму</a>
              <a href="#">Политика конфиденциальности</a>
            </div>
            <div class = "footer__body">
              <div class = "footer__header">
                <div class = "footer__contacts">
                  <a href = "tel:74852402199" class = "footer__phone">+7 (4852) 40-21-99</a>
                  <a href = "mailto:info@ystu.ru" class = "footer__mail">info@ystu.ru</a>
                  <a href = "https://yandex.ru/maps/-/CTTAVEP3" class = "footer__location">г. Ярославль, Московский проспект, 88</a>
                </div>
                <div class = "footer__messages">
                  <a href = "#" aria-label="Telegram">
                    <img src = "../images/svg/tg.svg" alt="">
                  </a>
                  <a href = "#" aria-label="ВКонтакте">
                    <img src = "../images/svg/vk.svg" alt="">
                  </a>
                  <a href = "#" aria-label="Одноклассники">
                    <img src = "../images/svg/ok.svg" alt="">
                  </a>
                </div>
                <a href =  "#">Обработка персональных данных</a>
              </div>
              <div class = "footer__information">
                <div class = "footer__emblem">
                  <img loading="lazy" decoding="async" src = "../images/fallback/emblem.png" alt="Министерство науки и высшего образования Российской Федерации">
                </div>
                <div class = "footer__consultation">
                  <div class = "footer__phones">
                    <div class = "footer__call">
                      <a href = "tel:88002507677">8-800-250-76-77</a>
                      <p>По вопросам поступления (бакалавриат и магистратура)</p>
                    </div>
                    <div class = "footer__call">
                      <a href = "tel:88002507677">8-800-250-76-77</a>
                      <p>По вопросам дополнительного образования</p>
                    </div>
                  </div>
                  <div class = "footer__modals">
                    <div class = "footer__modal">
                      <p>Подать обращение<br> гражданина</p>
                      <a class = "desktop-text" href = "map.html">Подать обращение</a>
                      <a class = "mobile-text" href = "map.html">Подробнее</a>
                    </div>
                    <div class = "footer__modal">
                      <p>Оставить мнение<br> об организации</p>
                      <a class = "desktop-text" href = "map.html">Оставить отзыв</a>
                      <a class = "mobile-text" href = "map.html">Подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class = "footer__bottom">
              <p>© ФГБОУ ВО «ЯГТУ», 2026</p>
              <a class = "redstar" href = "https://redstaragency.ru" aria-label="Разработчик сайта — RedStar">
                <img src = "../images/svg/redstar.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </footer>