<div class = "swiper js-init-first-slider default-slider main-slider">
              <div class = "swiper-wrapper">
                <div class="swiper-slide main-slide">
                  <img class = "slide__photo" src = "../images/fallback/main-slide.png" data-mobile = "../images/fallback/main-slide-mobile.png" alt="">
                  <div class = "slide__info">
                    <p class = "slide__title">Добро пожаловать в ЯГТУ!</p>
                    <p class = "slide__description">ЯГТУ - крупный российский технический вуз, где учатся<br> более 5000 студентов и аспирантов!</p>
                    <a href = "student-life.html" class = "btn btn--default btn--xl">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide main-slide">
                  <img class = "slide__photo" src = "../images/fallback/main-slide.png" data-mobile = "../images/fallback/main-slide-mobile.png" alt="">
                  <div class = "slide__info">
                    <p class = "slide__title">Добро пожаловать в ЯГТУ!</p>
                    <p class = "slide__description">ЯГТУ - крупный российский технический вуз, где учатся<br> более 5000 студентов и аспирантов!</p>
                    <a href = "student-life.html" class = "btn btn--default btn--xl">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide main-slide">
                  <img class = "slide__photo" src = "../images/fallback/main-slide.png" data-mobile = "../images/fallback/main-slide-mobile.png" alt="">
                  <div class = "slide__info">
                    <p class = "slide__title">Добро пожаловать в ЯГТУ!</p>
                    <p class = "slide__description">ЯГТУ - крупный российский технический вуз, где учатся<br> более 5000 студентов и аспирантов!</p>
                    <a href = "student-life.html" class = "btn btn--default btn--xl">Подробнее</a>
                  </div>
                </div>
                <div class="swiper-slide main-slide">
                  <img class = "slide__photo" src = "../images/fallback/main-slide.png" data-mobile = "../images/fallback/main-slide-mobile.png" alt="">
                  <div class = "slide__info">
                    <p class = "slide__title">Добро пожаловать в ЯГТУ!</p>
                    <p class = "slide__description">ЯГТУ - крупный российский технический вуз, где учатся<br> более 5000 студентов и аспирантов!</p>
                    <a href = "student-life.html" class = "btn btn--default btn--xl">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class = "default-slider-controls">
                <button type="button" class = "swiper-button-prev" aria-label="Предыдущий слайд"></button>
                <div class = "swiper-pagination"></div>
                <button type="button" class = "swiper-button-next" aria-label="Следующий слайд"></button>
              </div>
            </div>