<div class="information-banner">
        <div class="container">
          <div class="information-banner__body">
            <p class="information-banner__text">День открытых дверей</p>
            <div class="information-banner__date">
              <p class="information-banner__text">14 апреля</p>
              <p class="information-banner__text">12:00 — 18:00</p>
            </div>
            <a href="#">
              <div class="btn btn--default btn--s">Подробнее</div>
            </a>
          </div>
        </div>
      </div>