<nav class="navbar">
              <ul class="secondary-nav">
                <li>
                  <a href="programs.html"> Образование </a>
                </li>
                <li>
                  <a href = "nauka.html">Наука</a>
                </li>
                <li>
                  <a href = "student-life.html">Студенческая жизнь</a>
                </li>
                <li>
                  <a href = "programs.html">Заочное обучение</a>
                </li>
                <li>
                  <a href = "news-events.html">Новости</a>
                </li>
                <li>
                  <a href = "map.html">Контакты</a>
                </li>
                <li>
                  <a href = "vacancies.html">Работа в ЯГТУ</a>
                </li>
              </ul>
              <a href="tel:+74852402199" class="navbar__phone"
                >+7 (4852) 40-21-99</a
              >
              <div class="navbar__panel">
                <a href="search.html" aria-label="Поиск по сайту">
                  <img src="../images/svg/search.svg" alt="" />
                </a>
                <a href="#" aria-label="Личный кабинет">
                  <img src="../images/svg/portrait.svg" alt="" />
                </a>
                <a href="#" aria-label="Выбор языка">
                  <img src="../images/svg/translation.svg" alt="" />
                </a>
                <a href="#" aria-label="Версия для слабовидящих">
                  <img src="../images/svg/eyeglases.svg" alt="" />
                </a>
              </div>
            </nav>