<div class = "pagination">
                      <a class = "pagination__button-prev" href = "?page=1" aria-label="Предыдущая страница"></a>
                      <a class = "pagination__page current" href = "?page=1" aria-current="page">
                        1
                      </a>
                      <a class = "pagination__page" href = "?page=2">
                        2
                      </a>
                      <a class = "pagination__page" href = "?page=3">
                        3
                      </a>
                      <a class = "pagination__page" href = "?page=4">
                        4
                      </a>
                      <span class="pagination__ellipsis" aria-hidden="true">…</span>
                      <a class = "pagination__page" href = "?page=16">
                        16
                      </a>
                      <a class = "pagination__button-next" href = "?page=2" aria-label="Следующая страница"></a>
                    </div>
