<div class="preparatory-courses">
  <div class="preparatory-courses__content">
    <h2 class="preparatory-courses__title">{{ courses.title }}</h2>
    <p class="preparatory-courses__description">{{ courses.description }}</p>
    <a class="btn btn--default btn--l" href="{{ courses.href }}">{{ courses.label }}</a>
  </div>
  <div class="preparatory-courses__media">
    <img loading="lazy" decoding="async" class="preparatory-courses__image" src="{{ courses.image }}" alt="{{ courses.alt }}">
  </div>
</div>