<article class="program-card">
                      <div class="program-card__content">
                        <div class="program-card__body">
                          <div class="program-card__tags">
                            <span
                              class="program-card__tag program-card__tag--magistratura"
                              >Магистратура</span
                            ><span
                              class="program-card__tag program-card__tag--outline"
                              >Очно</span
                            ><span
                              class="program-card__tag program-card__tag--outline program-card__tag--accreditation"
                              >Государственная аккредитация</span
                            >
                          </div>
                          <div class="program-card__heading">
                            <p class="program-card__code">15.04.02</p>
                            <h2 class="program-card__title"><a href="program.html">
                              Технологические машины и оборудование
                            </a></h2>
                          </div>
                        </div>
                        <div class="program-card__profiles">
                          <p class="program-card__profiles-title">Профили</p>
                          <ul class="program-card__profiles-list">
                            <li>Профиль 1</li>
                            <li>Профиль 2</li>
                            <li>Профиль 3</li>
                          </ul>
                        </div>
                      </div>
                      <dl class="program-card__stats">
                        <div class="program-card__stat">
                          <dt>Бюджетных мест</dt>
                          <dd>16</dd>
                        </div>
                        <div class="program-card__stat">
                          <dt>Целевых мест</dt>
                          <dd>16</dd>
                        </div>
                        <div class="program-card__stat">
                          <dt>Платных мест</dt>
                          <dd>50</dd>
                        </div>
                        <div class="program-card__stat">
                          <dt>Срок обучения</dt>
                          <dd>2 года</dd>
                        </div>
                      </dl>
                    </article>