<section class="program-education container">
            <h2 class="title program-education__title">
              Образовательные программы
            </h2>

            <div class="program-education__list">
              <div class="program-education__item dropdown--item open">
                <div class="program-education__header dropdown--header">
                  <h3 class="program-education__name"><button class="dropdown--trigger" type="button">
                    Архитектурное проектирование
                  </button></h3>
                </div>

                <div class="program-education__content dropdown--content">
                  <section class="program-education__section">
                    <div class="program-education__caption">
                      <h4>Основные дисциплины</h4>
                      <a class="btn btn--reverse btn--m" href="#" download>
                        Скачать учебный план
                      </a>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Faucibus in euismod consequat nunc porta eleifend. Nibh sit pharetra nisi fermentum amet commodo feugiat blandit semper. Orci aliquet pellentesque tellus aliquam feugiat a facilisi cursus. Gravida diam non bibendum eu vel consequat sit suscipit arcu. Arcu lacus aliquet vulputate vivamus. Purus laoreet tellus ultrices odio nulla auctor pretium adipiscing arcu.
                    </p>
                  </section>

                  <section class="program-education__section">
                    <div class="program-education__caption">
                      <h4>Преимущества и программы</h4>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Faucibus in euismod consequat nunc porta eleifend. Nibh sit pharetra nisi fermentum amet commodo feugiat blandit semper. Orci aliquet pellentesque tellus aliquam feugiat a facilisi cursus. Gravida diam non bibendum eu vel consequat sit suscipit arcu. Arcu lacus aliquet vulputate vivamus. Purus laoreet tellus ultrices odio nulla auctor pretium adipiscing arcu.
                    </p>
                  </section>

                  <section class="program-education__section">
                    <div class="program-education__caption">
                      <h4>Кем работают выпускники</h4>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Faucibus in euismod consequat nunc porta eleifend. Nibh sit pharetra nisi fermentum amet commodo feugiat blandit semper. Orci aliquet pellentesque tellus aliquam feugiat a facilisi cursus. Gravida diam non bibendum eu vel consequat sit suscipit arcu. Arcu lacus aliquet vulputate vivamus. Purus laoreet tellus ultrices odio nulla auctor pretium adipiscing arcu.
                    </p>
                  </section>
                </div>
              </div>

              <div class="program-education__item dropdown--item">
                <div class="program-education__header dropdown--header">
                  <h3 class="program-education__name"><button class="dropdown--trigger" type="button">
                    Дизайн городской среды
                  </button></h3>
                </div>

                <div class="program-education__content dropdown--content">
                  <section class="program-education__section">
                    <div class="program-education__caption">
                      <h4>Основные дисциплины</h4>
                      <a class="btn btn--reverse btn--m" href="#" download>
                        Скачать учебный план
                      </a>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Faucibus in euismod consequat nunc porta eleifend. Nibh sit pharetra nisi fermentum amet commodo feugiat blandit semper. Orci aliquet pellentesque tellus aliquam feugiat a facilisi cursus. Gravida diam non bibendum eu vel consequat sit suscipit arcu. Arcu lacus aliquet vulputate vivamus. Purus laoreet tellus ultrices odio nulla auctor pretium adipiscing arcu.
                    </p>
                  </section>

                  <section class="program-education__section">
                    <div class="program-education__caption">
                      <h4>Преимущества и программы</h4>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Faucibus in euismod consequat nunc porta eleifend. Nibh sit pharetra nisi fermentum amet commodo feugiat blandit semper. Orci aliquet pellentesque tellus aliquam feugiat a facilisi cursus. Gravida diam non bibendum eu vel consequat sit suscipit arcu. Arcu lacus aliquet vulputate vivamus. Purus laoreet tellus ultrices odio nulla auctor pretium adipiscing arcu.
                    </p>
                  </section>

                  <section class="program-education__section">
                    <div class="program-education__caption">
                      <h4>Кем работают выпускники</h4>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur. Faucibus in euismod consequat nunc porta eleifend. Nibh sit pharetra nisi fermentum amet commodo feugiat blandit semper. Orci aliquet pellentesque tellus aliquam feugiat a facilisi cursus. Gravida diam non bibendum eu vel consequat sit suscipit arcu. Arcu lacus aliquet vulputate vivamus. Purus laoreet tellus ultrices odio nulla auctor pretium adipiscing arcu.
                    </p>
                  </section>
                </div>
              </div>
            </div>
        </section>