<section class="container program-exams">
            <h2 class="title program-exams__title">
              Вступительные испытания и проходные баллы
            </h2>

            <ul class="program-exams__list">
              <li class="program-exams__item">
                <p class="program-exams__item__title">Русский язык (ЕГЭ)</p>
                <p class="program-exams__item__value">40</p>
              </li>
              <li class="program-exams__item">
                <p class="program-exams__item__title">Профильная математика (ЕГЭ)</p>
                <p class="program-exams__item__value">40</p>
              </li>
              <li class="program-exams__item">
                <p class="program-exams__item__title">Композиция в графике (ДВИ)</p>
                <p class="program-exams__item__value">40</p>
              </li>
              <li class="program-exams__item">
                <p class="program-exams__item__title">Рисунок (ДВИ)</p>
                <p class="program-exams__item__value">40</p>
              </li>
            </ul>

            <div class="program-exams__description wyswig">
              <p>
                Для приема на направление 07.03.01 «Архитектура» предусмотрены
                два дополнительных вступительных<br> испытания творческой направленности:
              </p>
              <ul>
                <li>Композиция в графике (рисунок 1)</li>
                <li>Рисунок (рисунок 2)</li>
              </ul>
              <p>
                Вступительные испытания проводятся в очном формате.<br>
                Продолжительность каждого вступительного испытания —
                шесть астрономических часов.
              </p>
            </div>

            <details class="program-exams__examples">
              <summary>Примеры экзаменационных работ</summary>
              <div class ="program-exams__details">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </div>
            </details>
        </section>