<div
                  class="structure-gallery__slider swiper js-init-structure-gallery"
                >
                  <div class="structure-gallery__list swiper-wrapper">
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                    <div class="swiper-slide">
                      <img loading="lazy" decoding="async"
                        src="../images/fallback/structure-gallery.png"
                        alt="Лекция в университетской аудитории"
                      />
                    </div>
                  </div>
                  <div
                    class="default-slider-controls"
                  >
                    <button type="button" class="swiper-button-prev" aria-label="Предыдущий слайд"></button>
                    <div class="swiper-pagination"></div>
                    <button type="button" class="swiper-button-next" aria-label="Следующий слайд"></button>
                  </div>
                </div>