<div class="structure-employees">
                <div class="structure-person-card">
                  <div class="structure-person-card__person">
                    <img loading="lazy" decoding="async"
                      src="../images/fallback/structure-employee.png"
                      alt="Наумов Денис Владимирович"
                    />
                    <div>
                      <h3>Наумов Денис Владимирович</h3>
                      <p>Первый проректор, к.т.н., доцент</p>
                    </div>
                  </div>
                  <div class="structure-person-card__contacts">
                    <div>
                      <span>Адрес</span>
                      <p>Ярославль, Московский пр., д. 88, каб. Г-401</p>
                    </div>
                    <div>
                      <span>Телефон</span
                      ><a href="tel:+74852441530">+7 (4852) 44-15-30</a>
                    </div>
                    <div>
                      <span>Почта</span
                      ><a href="mailto:rector@ystu.ru">rector@ystu.ru</a>
                    </div>
                  </div>
                </div>
                <div class="structure-person-card">
                  <div class="structure-person-card__person">
                    <img loading="lazy" decoding="async"
                      src="../images/fallback/structure-employee.png"
                      alt="Наумов Денис Владимирович"
                    />
                    <div>
                      <h3>Наумов Денис Владимирович</h3>
                      <p>Первый проректор, к.т.н., доцент</p>
                    </div>
                  </div>
                  <div class="structure-person-card__contacts">
                    <div>
                      <span>Адрес</span>
                      <p>Ярославль, Московский пр., д. 88, каб. Г-401</p>
                    </div>
                    <div>
                      <span>Телефон</span
                      ><a href="tel:+74852441530">+7 (4852) 44-15-30</a>
                    </div>
                    <div>
                      <span>Почта</span
                      ><a href="mailto:rector@ystu.ru">rector@ystu.ru</a>
                    </div>
                  </div>
                </div>
                <div class="structure-person-card">
                  <div class="structure-person-card__person">
                    <img loading="lazy" decoding="async"
                      src="../images/fallback/structure-employee.png"
                      alt="Наумов Денис Владимирович"
                    />
                    <div>
                      <h3>Наумов Денис Владимирович</h3>
                      <p>Первый проректор, к.т.н., доцент</p>
                    </div>
                  </div>
                  <div class="structure-person-card__contacts">
                    <div>
                      <span>Адрес</span>
                      <p>Ярославль, Московский пр., д. 88, каб. Г-401</p>
                    </div>
                    <div>
                      <span>Телефон</span
                      ><a href="tel:+74852441530">+7 (4852) 44-15-30</a>
                    </div>
                    <div>
                      <span>Почта</span
                      ><a href="mailto:rector@ystu.ru">rector@ystu.ru</a>
                    </div>
                  </div>
                </div>
              </div>