<section class="student-links container">
            <h2 class="title student-links__title">Полезные ссылки</h2>
            <ul class="student-links__body d-grid grid-list-3">
              <li class="student-links__item"><a href="#">Общежития ЯГТУ</a></li>
              <li class="student-links__item"><a href="#">Центр карьеры</a></li>
              <li class="student-links__item"><a href="#">Социальная поддержка</a></li>
              <li class="student-links__item"><a href="#">Профком студентов</a></li>
              <li class="student-links__item"><a href="#">Оценка качества образования</a></li>
              <li class="student-links__item"><a href="#">Психологическая помощь</a></li>
            </ul>
        </section>