<section class="student-driving container">
            <h2 class="title student-driving__title">Центр подготовки водителей ЯГТУ</h2>
            <div class="student-driving__body">
              <div class="student-driving__content">
                <p>
                Lorem ipsum dolor sit amet consectetur. Eu augue fames felis ultrices. Scelerisque ipsum nulla tempor vitae. Nec eu dui feugiat orci dui amet consectetur tortor sem. In malesuada vitae urna mattis tortor aenean porttitor aenean. Lorem ipsum dolor sit amet consectetur. Eu augue fames felis ultrices. Scelerisque ipsum nulla tempor vitae. Nec eu dui feugiat orci dui amet consectetur tortor sem. In malesuada vitae urna mattis tortor aenean porttitor aenean.
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur. Eu augue fames felis ultrices. Scelerisque ipsum nulla tempor vitae. Nec eu dui feugiat orci dui amet consectetur tortor sem. In malesuada vitae urna mattis tortor aenean porttitor aenean. Lorem ipsum dolor sit amet consectetur. Eu augue fames felis ultrices. Scelerisque ipsum nulla tempor vitae. Nec eu dui feugiat orci dui amet consectetur tortor sem. In malesuada vitae urna mattis tortor aenean porttitor aenean.</p>
                <a class="btn btn--default btn--m" href="#">Подробнее</a>
              </div>
              <div class="student-driving__gallery">
                <img loading="lazy" decoding="async" src = "../images/fallback/student-life-driving.png" alt="Учебный корпус Ярославского государственного технического университета">
              </div>
            </div>
        </section>