<div
                    class="student-direction__gallery swiper js-init-student-slider"
                  >
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img loading="lazy" decoding="async"
                          src="../images/fallback/student-life-direction.png"
                          alt="Посетители знакомятся с лабораторным оборудованием на выставке"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img loading="lazy" decoding="async"
                          src="../images/fallback/student-life-direction.png"
                          alt="Посетители знакомятся с лабораторным оборудованием на выставке"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img loading="lazy" decoding="async"
                          src="../images/fallback/student-life-direction.png"
                          alt="Посетители знакомятся с лабораторным оборудованием на выставке"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img loading="lazy" decoding="async"
                          src="../images/fallback/student-life-direction.png"
                          alt="Посетители знакомятся с лабораторным оборудованием на выставке"
                        />
                      </div>
                    </div>
                    <div class="default-slider-controls">
                      <button type="button" class="swiper-button-prev" aria-label="Предыдущий слайд"></button>
                      <button type="button" class="swiper-button-prev big" aria-label="Предыдущий слайд"></button>
                      <div class="swiper-pagination"></div>
                      <button type="button" class="swiper-button-next" aria-label="Следующий слайд"></button>
                      <button type="button" class="swiper-button-next big" aria-label="Следующий слайд"></button>
                    </div>
                  </div>