<section class="university-statistics">
          <div class = "container">
            <div class="university-statistics__container">
              <div class="university-statistics__header">
                <div class="university-statistics__content">
                  <h2 class="university-statistics__title">ЯГТУ в цифрах</h2>

                  <p class="university-statistics__description">
                    В вузе идет прием на почти 900 бюджетных мест, а общий набор
                    составляет больше 1600 студентов.<br> 
                    Почти 90%<br>
                    выпускников ЯГТУ
                    успешно трудоустраиваются. Многие находят работу уже во
                    время учебы.
                  </p>

                  <a class="btn btn--m btn--default university-statistics__button" href="detail-structure.html">
                    Об университете
                  </a>
                </div>

                <dl class="university-statistics__numbers">
                  <div class="university-statistics__number-item">
                    <dt class="university-statistics__number">1944</dt>
                    <dd class="university-statistics__number-label">
                      Год основания
                    </dd>
                  </div>

                  <div class="university-statistics__number-item">
                    <dt class="university-statistics__number">&gt;5 000</dt>
                    <dd class="university-statistics__number-label">
                      Студентов
                    </dd>
                  </div>

                  <div class="university-statistics__number-item">
                    <dt class="university-statistics__number">900</dt>
                    <dd class="university-statistics__number-label">
                      Бюджетных мест
                    </dd>
                  </div>

                  <div class="university-statistics__number-item">
                    <dt class="university-statistics__number">&gt;50</dt>
                    <dd class="university-statistics__number-label">
                      Направлений подготовки
                    </dd>
                  </div>
                </dl>
              </div>

              <ul class="structure__institutes no-border">
                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Институт базовой инженерной подготовки
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Институт цифровых систем
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Институт экономики и менеджмента
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Институт химии и химической технологии
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Институт архитектуры и дизайна
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Институт инженеров строительства и транспорта
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Институт инженерии и машиностроения
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="structure__institute">
                  <a class="structure__institute-link" href="detail-structure.html">
                    <h2 class="structure__institute-title">
                      Университетский колледж ЯГТУ «Политехник»
                    </h2>

                    <ul class="structure__programs">
                      <li class="structure__program">
                        Бакалавриат: 1 программа
                      </li>
                      <li class="structure__program">
                        Магистратура: 1 программа
                      </li>
                    </ul>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          </section>