<article class="vacancy-card" data-catalog-filters='{"category":["administrative"],"experience":["1-plus"],"employment":["full"],"work_format":["office"]}'>
              <img
                class="vacancy-card__pattern"
                src="../images/svg/vacancy-pattern.svg"
                alt=""
              />
              <div class="vacancy-card__content">
                <div class="vacancy-card__heading">
                  <h2 class="vacancy-card__title">Документовед</h2>
                  <p class="vacancy-card__category">
                    Административный персонал
                  </p>
                </div>
                <p class="vacancy-card__description">
                  Lorem ipsum dolor sit amet consectetur. Eu augue fames felis
                  ultrices. Scelerisque ipsum nulla tempor vitae. Nec eu dui
                  feugiat orci dui amet consectetur tortor sem.
                </p>
                <a class="btn btn--default btn--m vacancy-card__button" href="detail-vacancy.html"
                  >Подробнее</a
                >
              </div>
            </article>