<div class = "detail-vacancy__content d-flex flex-column">
            <div class = "detail-vacancy__list wyswig d-flex flex-column">
              <p class = "detail-vacancy__list__title">Обязанности</p>
              <ul>
                <li>Ведение электронного документооборота в программном обеспечении.</li>
                <li>Работа с таблицами и отчетами по профилю деятельности подразделения.</li>
                <li>Рассмотрение и сортировка документов.</li>
              </ul>
            </div>
            <div class = "detail-vacancy__list wyswig d-flex flex-column">
              <p class = "detail-vacancy__list__title">Требования</p>
              <ul>
                <li>Образование высшее техническое</li>
                <li>Опыт оформления технической документации</li>
                <li>Опыт работы от 1 года</li>
              </ul>
            </div>
            <div class = "detail-vacancy__list wyswig d-flex flex-column">
              <p class = "detail-vacancy__list__title">Условия</p>
              <ul>
                <li>Релевантный опыт позволяет обсуждать заработную плату на собеседовании</li>
                <li>График работы дневной с 8.3 до 17.00, 5/2</li>
                <li>Работа в дружном коллективе, где всегда поддержат и помогут</li>
              </ul>
            </div>
          </div>