<div class = "detail-vacancy__resume d-flex flex-column">
              <div class = "resume-data d-flex flex-column">
                <p>заработная плата (руб)</p>
                <p>от 50 000 руб/мес, на руки</p>
              </div>
              <div class = "resume-data d-flex flex-column">
                <p>опыт</p>
                <p>от 1 года</p>
              </div>
              <div class = "resume-data d-flex flex-column">
                <p>формат</p>
                <p>офис</p>
              </div>
            </div>