.main {
    flex: 1 1 auto;
    padding-top: var(--header-height);
}

.main--header-overlay {
    padding-top: 0;
}

/* Кастомные классы */
.grid-list-3 {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}