.btn {
    background: none;
    border: none;
    font-family: 'GoogleSans', sans-serif;
    cursor: pointer;
}

.btn--default {
    background-color: var(--primary-color-2);
    border-radius: 100px;
    color: var(--white-shade-1) !important;
}

.btn--s {
    padding: 12px 24px;
}

.btn--sm {
    padding: 16px 32px;
}

.btn--m {
    padding: 16px 40px;
}

.btn--l {
    padding: 16px 48px;
}

.btn--xl {
    padding: 20px 48px;
}

.btn--blue {
    color: var(--white-shade-3) !important;
    background-color: var(--subprimary-color-1);
}

.btn--white {
    color: var(--subprimary-color-1) !important;
    background-color: var(--white-shade-3);
    border: 1px solid var(--subprimary-color-1);
}

.btn--reverse {
    color: var(--primary-color-2) !important;
    background: none;
    border: 1px solid var(--primary-color-2);
}