.dropdown--header {
    background: var(--subprimary-color-7);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown--header::after {
    content: url(/images/svg/triangle-down.svg);
    width: 48px;
    height: 48px;
    text-align: center;
    align-content: center;
    transition: transform 0.2s ease;
}

.dropdown--item.open .dropdown--header::after {
    transform: rotate(180deg);
} 

.dropdown--content {
    display: none;
}

.dropdown--item.open .dropdown--content {
    display: block;
}

.dropdown--item__title {
    font-size: 20px;
    color: var(--subprimary-color-1);
    font-weight: 600;
}