.error-page {
    max-height: 600px;
    align-content: center;
    padding: 182px 0;
}

.error-page__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.error-page__description {
    font-size: 18px;
}

.error-page .btn {
    font-weight: 600;
    font-size: 18px;
    min-height: 54px;
    max-width: 267px;
    white-space: nowrap;
    width: 100%;
}

/* Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) */
@media (max-width: 1200px) { }

/* Устройства Large (настольные компьютеры, 992 пикселей и выше) */
@media (max-width: 992px) { }

/* Устройства Medium (планшеты, 768 пикселей и выше) */
@media (max-width: 768px) { }

/* Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше) */
@media (max-width: 576px) { 
    .error-page {
        padding: 110px 0;
    }
    .error-page__container {
        align-items: center;
    }

    .error-page__description {
        max-width: 340px;
        font-size: 16px;
    }

    .error-page .btn {
        font-weight: 500;
        font-size: 16px;
        padding: 14px 24px;
        min-height: 47px;
        max-height: 47px;
        max-width: 212px;
    }
}