.footer {
    background-color: var(--subprimary-color-1);
    width: 100%;
    color: var(--white-shade-1);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}

.footer__links {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    justify-content: space-between;
    border-bottom: 1px solid var(--white-shade-1);
}

.footer__body {
    padding: 24px 0 80px;
    border-bottom: 1px solid var(--white-shade-1);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.footer__contacts {
    display: flex;
    flex-direction: row;
    gap: 52px;
    flex: 0 0 65%;
}

.footer__information {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    padding: 40px 0 30px;
    justify-content: space-between;
}

.footer__consultation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__phones {
    display: flex;
    gap: 52px;
}

.footer__call {
    flex: 0 0 35%;
}

.footer__call a {
    font-size: 22px;
    font-weight: 700;
}

.footer__call p {
    margin-top: 8px;
}

.footer__modals {
    display: flex;
    gap: 40px;
}

.footer__modal {
    background-color: var(--white-shade-4);
    padding: 24px 24px 26px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex: 0 0 53%;
    justify-content: space-between;
}

.footer__modal p {
    color: var(--subprimary-color-1);
    font-weight: 700;
    font-size: 16px;
}

.footer__modal a {
    color: var(--primary-color-2) !important;
    font-weight: 600;
    border-bottom: 1px solid var(--primary-color-2);
    padding-bottom: 6px;
}

.footer__messages {
    display: flex;
    gap: 24px;
}

.footer__phone::before, .footer__mail::before, .footer__location::before {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
}

.footer__phone::before {
    content: url(../../images/svg/call-white.svg);
}

.footer__mail::before {
    content: url(../../images/svg/mail-white.svg);
}

.footer__location::before {
    content: url(../../images/svg/location-white.svg);
}

/* Шаблон для медиа-запросов */
/* Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) */
@media (max-width: 1200px) { }

/* Устройства Large (настольные компьютеры, 992 пикселей и выше) */
@media (max-width: 992px) { }

/* Устройства Medium (планшеты, 768 пикселей и выше) */
@media (max-width: 768px) {
    .footer__links {
        gap: 16px 32px;
        flex-wrap: wrap;
        font-size: 16px;
    }

    .footer__header {
        gap: 20px;
        flex-wrap: wrap;
        font-size: 16px;
    }

    .footer__contacts {
        gap: 16px 32px;
        flex: 1 1 100%;
        flex-wrap: wrap;
    }

    .footer__information {
        display: grid;
        grid-template-columns: 120px minmax(0, 1fr);
        gap: 32px;
    }

    .footer__consultation {
        gap: 32px;
    }

    .footer__phones {
        gap: 24px;
        flex-direction: column;
    }

    .footer__call {
        flex-basis: auto;
    }

    .footer__modals {
        display: grid;
        gap: 16px;
    }

    .footer__modal {
        flex-basis: auto;
    }
}

/* Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше) */
@media (max-width: 576px) { 
    .footer__links {
        flex-direction: column;
        gap: 18px;
        padding: 48px 0 24px;
        font-size: 16px;
    }

    .footer__header {
        flex-direction: column;
        gap: 16px;
        font-size: 16px;
    }

    .footer__contacts {
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
    }

    .footer__messages {
        justify-content: center;
        order: 1;
    }

    .footer__messages a img {
        width: 28px;
        height: 28px;
        line-height: 0;
    }

    .footer__information {
        display: grid;
        grid-template-columns: 110px 1fr;
        gap: 40px 24px;
    }

    .footer__consultation {
        display: contents;
    }

    .footer__phones {
        flex-direction: column;
        gap: 16px;
    }

    .footer__body {
        padding: 24px 0 40px;
    }

    .footer__modals {
        display: grid;
        gap: 16px;
        grid-column: span 2;
    }

    .footer__bottom {
        font-size: 14px;
        padding: 16px 0;
    }

    .footer__call a {
        font-size: 18px;
    }

    .footer__call p {
        margin-top: 4px;
        font-size: 14px;
    }

    .footer__modal p {
        font-size: 15px;
    }
}
