.header {
    width: 100%;
}

.header__wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar {
    padding: 5px 40px;
    background-color: var(--white-shade-1);
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

.secondary-nav {
    display: flex;
    color: var(--subprimary-color-1);
    font-size: 18px;
    list-style: none;
    gap: 25px;
}

.navbar__phone {
    color: var(--subprimary-color-1);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
}

.navbar__phone::before {
    content: url(/images/svg/call.svg);
    display: inline-block;
    width: 22px;
    height: 22px;
}

.navbar__panel {
    display: flex;
    gap: 12px;
}

.header__menu {
    border: 1px solid var(--subprimary-color-1);
    border-radius: 16px;
    padding: 24px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.main-nav {
    display: flex;
    color: var(--subprimary-color-1);
    font-size: 18px;
    list-style: none;
    gap: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn__menu {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.btn__burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 18px;
    height: 14px;
}


.btn__burger__line:nth-child(n) {
    width: 100%;
    height: 1px;
    background-color: var(--white-shade-1);
}

.btn__burger__line:nth-child(2n) {
    width: 11px;
    height: 1px;
    background-color: var(--white-shade-1);
}

/* Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) */
@media (max-width: 1200px) { }

/* Устройства Large (настольные компьютеры, 992 пикселей и выше) */
@media (max-width: 992px) { }

/* Устройства Medium (планшеты, 768 пикселей и выше) */
@media (max-width: 768px) { }

/* Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше) */
@media (max-width: 576px) { 
    .header__top {
        display: none;
    }
    .header__wrapper {
        margin-top: 0;
    }
    .header__menu {
        width: calc(100% + var(--container-padding)*2);
        margin-left: -16px;
        padding: 20px 24px 24px;
        border: none;
    }
    .main-nav {
        display: none;
    }
}