.information-banner {
    background-color: var(--subprimary-color-1);
    padding: 9px 0;
    color: var(--white-shade-1);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.information-banner::before {
    display: block;
    content: url(/images/svg/adv-before.svg);
    position: absolute;
    z-index: -1;
    top: -70%;
    left: -2%;
}

.information-banner::after {
    display: block;
    content: url(/images/svg/adv-after.svg);
    position: absolute;
    z-index: -1;
    right: -4%;
    top: -20%;
}

.information-banner__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.information-banner__date {
    display: flex;
    gap: 40px;
}

.information-banner__text {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}